<div class="row">
  <div id="user-welcome" class="col-auto">
    <h2><u>Welcome {{username}}</u></h2>
  </div>
</div>
{{log posts}}
{{#if posts.length}}
<div class="col-md-12 post-list">
  <h3>Current Posts:</h3>

  {{#each posts as |post|}}
  <div class="row mb-2">
    <div class="dash-post col-md-12">
      <a class="dash-title" href="/posts/{{id}}">{{post.title}}</a>
      <p class="dash-date">{{format_date post.date_created}}</p>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
</div>

<div class="newpost-btn-div form-group">
  <button class="btn btn-primary"><a id="newpost-btn" href="./newpost">+ Create New Post</a></button>
</div>

<script src="/js/dashboard.js"></script>