<!-- Loop over each object in the notes array -->
{{#each posts as |post| }}
<div class="row mb-4 note">
  <div class="col">
    <h2><a href="/posts/{{post.id}}">{{post.title}}</a>
    <p>
      {{post.content}}
    </p>
    <p>Created by {{user.username}} on {{format_date post.date_created}}</p>
  </div>
</div>
{{/each}}
