<!-- Loop over each object in the notes array -->
{{#each notes as |note| }}
<div class="row mb-4 note">
  <div class="col">
    <h2><a href="/note/{{note.id}}">{{note.title}}</a>
    <p>
      {{note.description}}
    </p>
    <p>Created by {{user.username}} on {{format_date note.date_created}}</p>
  </div>
</div>
{{/each}}
