<!-- Loop over each object in the notes array -->
{{#each blogposts as |blog| }}
<div class="row mb-4 note">
  <div class="col">
    <h2><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
    <p>
      {{blogpost.content}}
    </p>
    <p>Created by {{user.name}} on {{format_date blogpost.date_created}}</p>
  </div>
</div>
{{/each}}
