<!-- Loop over each object in the notes array -->
{{#each posts as |post| }}
<div class="row homepost-container">
 
    <div class="homepost-header">
      <a class="homepost-title" href="/comments/{{post.id}}">{{post.title}}</a></h2>
      <p class="homepost-author">Created by {{user.username}} on {{format_date post.date_created}}</p>
    </div>
    <p class="homepost-content">
      {{post.content}}
    </p>

</div>
{{/each}}
