<div class="row comment-post-container">
  <div class="comment-post-header" id="post-title" name="post-title">
    <h4 class="comment-post-title">
      {{title}}
    </h4>
    <p class="comment-post-author">Created by {{user.username}} on {{format_date date_created}}</p>
  </div>
  <p class="comment-post-content" name="post-content">
    {{content}}
  </p>
</div>

{{#if comments.length}}
<div class="comment-list-container">
  {{#each comments as |comment|}}

  <div class="row comment-container">
    <h4 class="comment-header">
      <p class="comment-author">Posted by {{user.username}}</p>
    </h4>
    <p class="comment-content">
      {{comment.comment}}
    </p>
  </div>
  {{/each}}
</div>
{{/if}}

{{!-- *THIS IS WHERE THE USER WILL ADD THEIR COMMENT* --}}


<div class="add-comment-container">
  <div class="new-comment-container">
    <h4 class="new-comment-header"></h4>
    <p class="new-comment-title">Comment</p>
    <textarea class="p-2 ml-1 mr-1" id="comment" name="comment" rows="2" cols="100">
      {{comment}}
    </textarea>
    <div class="add-comment-btn">
      <button class="btn btn-primary" id="add-comment" type="submit" value="Submit">
        + POST COMMENT
      </button>
    </div>
  </div>
</div>


<script src="/js/addcomment.js"></script>