<div class="edit-post-container">
  <div class="post-form">
    <label for="post-title">
      Title:
    </label>
    <br />
    <div id="post-title" name="post-title">
      {{title}}
    </div>
    <br />
    <label for="post-content">
      Content:
    </label>
    <br />
    <div id="post-content" name="post-content">
      {{content}}
    </div>
    <br />
    <br />
    {{log comments}}
    {{#if comments.length}}
    <div class="col-md-6 comment-list">
      {{#each comments as |comment|}}
      <div class="row mb-2">
        <p>{{comment.text}}</p>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <h3>Add a comment:</h3>

      <form class="form comment-form">
        <div class="form-group">
          <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
        </div>
        <div class="form-group">
          <button id="comment-btn" class="btn btn-primary" data-comment="{{id}}">Add Comment</button>
        </div>
      </form>

      <script src="/js/addcomment.js"></script>