<div class="post-container">
  <div class="post-form">
    <label for="post-title">
      Title:
    </label>
    <br />
    <div id="post-title" name="post-title">
      {{title}}
    </div>
    <br />
    <label for="post-content">
      Content:
    </label>
    <br />
    <div id="post-content" name="post-content">
      {{content}}
    </div>
    <br />
    <br />
    {{!-- {{log comments}} --}}
    {{#if comments.length}}
    <div id="comments-div" class="col-md-6 comment-list">
      {{#each comments as |comment|}}
      <div class="row mb-2">
        <p>{{comment.comment}}</p>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>


  <!-- This is the form for adding a new dish -->
  <div class="add-comment-container">
    <form class="new-comment-form">
      <br />
      <textarea id="comment" name="comment" rows="2" cols="30">
      {{comment}}
    </textarea>
      <br />
      <br />
      <button id="add-comment" type="submit" value="Submit">
        + COMMENT
      </button>
    </form>
  </div>
</div>

    <script src="/js/addcomment.js"></script>